POSTGRES_DB=bd_EcoBazar
POSTGRES_USER=ecobazar_admin
POSTGRES_PASSWORD=ecobazar_admin_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=55432
RABBITMQ_DEFAULT_USER=ecobazar
RABBITMQ_DEFAULT_PASS=ecobazar_dev
RABBITMQ_HOST_PORT=5672
INTERNAL_SERVICE_TOKEN=change_this_internal_token_32_chars
COOKIE_NAME=ecobazar_session
CLIENT_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
